@font-face {
    font-family: 'icomoon';
    /* 要注意:此处的url括号里的是对应文件的路径，不要太死板的照抄！！！只需要修改地址即可 */
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?tomleg') format('truetype'),
        url('../fonts/icomoon.woff?tomleg') format('woff'),
        url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.style_red {
    color: #c81623;
}

/* shortcut */
.shortcut {
    height: 30px;
    background-color: #f1f1f1;
    line-height: 30px;
    padding: 0 35px;
}

.shortcut .welcome {
    float: left;
}

.shortcut .welcome ul li {
    float: left;
}

.shortcut .nav {
    float: right;
}

.shortcut .nav ul li {
    float: left;
    padding: 0 5px;
}

.arrow-icon::after {
    content: '\e91e';
    font-family: 'icomoon';
    padding-left: 10px;
}

.arrow-icon:hover::after {
    color: #c81623;
}

/* header */
.header {
    position: relative;
    height: 171px;
}

.header .logo {
    float: left;
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
}

.header .logo a {
    display: block;
    width: 171px;
    height: 61px;
    font-size: 0;
    background: url(../images/logo.png) no-repeat;
}

.header .search {
    position: absolute;
    top: 25px;
    left: 346px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.header .search input {
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 10px;
}

.header .search button {
    float: right;
    width: 80px;
    height: 32px;
    background-color: #b1191a;
}

.header .hotwords {
    position: absolute;
    top: 65px;
    left: 350px;
}

.header .hotwords ul li {
    float: left;
    padding: 0 10px;
}

.shopcart {
    position: absolute;
    right: 60px;
    top: 25px;
    width: 140px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
}

.count {
    position: absolute;
    left: 105px;
    top: -5px;
    height: 14px;
    line-height: 14px;
    padding: 0 5px;
    background-color: #b1191a;
    border-radius: 7px 7px 7px 0;
    color: #fff;
}

.shopcart::before {
    content: '\e93a';
    font-family: 'icomoon';
    color: #b1191a;
}

.shopcart::after {
    content: '\e920';
    font-family: 'icomoon';
}