@font-face {
    font-family: 'icomoon';
    /* 要注意:此处的url括号里的是对应文件的路径，不要太死板的照抄！！！只需要修改地址即可 */
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?tomleg') format('truetype'),
        url('../fonts/icomoon.woff?tomleg') format('woff'),
        url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

/* shortcut */
.shortcut {
    height: 30px;
    background-color: #ccc;
    line-height: 30px;
    padding: 0 35px;
}

.shortcut .welcome {
    float: left;
}

.register {
    color: #c81623;
}

.shortcut .nav {
    float: right;
}

.shortcut .nav ul li {
    float: left;
    padding: 0 10px;
}

.arrow-icon::after {
    content: '\e91e';
    font-family: 'icomoon';
    padding-left: 10px;
}

.arrow-icon:hover::after {
    color: #c81623;
}

/* header */
.header {
    position: relative;
    background-color: yellowgreen;
    height: 120px;
}

.header .logo {
    float: left;
    line-height: 120px;
}

.header .search {
    position: absolute;
    top: 34px;
    left: 350px;
    float: left;
    width: 500px;
    height: 34px;
    background-color: #fff;
}

.header .search input {
    width: 396px;
    height: 34px;
    border: 2px solid #c81623;
}

.header .search button {
    width: 100px;
    height: 34px;
    background-color: #c81623;
}