@font-face {
    font-family: 'icomoon';
    /* 要注意:此处的url括号里的是对应文件的路径，不要太死板的照抄！！！只需要修改地址即可 */
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?tomleg') format('truetype'),
        url('../fonts/icomoon.woff?tomleg') format('woff'),
        url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}

.main .focus {
    float: left;
    width: 721px;
    height: 455px;
}

.main .news-box {
    float: right;
    width: 250px;
    height: 455px;
}

.news {
    height: 165px;
    border: 1px solid #e4e4e4;
    border-bottom: 0;
}

.news-title {
    height: 35px;
    line-height: 35px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
}

.news-title h5 {
    float: left;
    font-size: 18px;
}

.news-title a {
    float: right;
}

.news-title a::after {
    content: '\e920';
    font-family: 'icomoon';
}

.news-bd {
    padding: 5px 15px 0;
}

.news-bd ul li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lifeservice {
    height: 209px;
    overflow: hidden;
    border: 1px solid #e4e4e4;
    margin-bottom: 6px;
}

.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}

.lifeservice ul li i {
    display: block;
    width: 24px;
    height: 28px;
    margin: 12px auto 0px;
    background: url(../images/icons.png) no-repeat -16px -15px;
}
