* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f5f7;
    height: 3000px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.w {
    width: 1200px;
    margin: auto;
}

/* header开始 */
.header {
    height: 42px;
    margin: 30px auto;
}

.logo {
    float: left;
    padding-left: 50px;
}

.nav {
    float: left;
    line-height: 42px;
}

.nav li {
    float: left;
    margin-left: 50px;
    font-size: 18px;
}

.nav li a {
    display: block;
    height: 42px;
    color: #333;
}

.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

.search {
    float: left;
    margin-left: 50px;
}

.search input {
    float: left;
    width: 412px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
}

.search img {
    float: left;
    height: 42px;
}

.self {
    line-height: 42px;
    float: right;
    margin-right: 30px;
}

.self img {
    float: left;
}

.self p {
    float: left;
}

/* banner start */
.banner {
    height: 421px;
    background-color: #1c036c;
}

.banner .w {
    height: 421px;
    background: url(images/banner2.png) no-repeat;
}

.subnav {
    float: left;
    height: 421px;
    width: 200px;
    background-color: rgba(0, 0, 0, .3)
}

.subnav ul li {
    margin: 20px 0 20px 20px;
}

.subnav ul li a {
    color: #fff;
    font-size: 14px;
}

.subnav ul li a:hover {
    color: #00a4ff;
}

.course {
    float: right;
    margin-top: 50px;
    width: 230px;
    height: 300px;
    background-color: #fff;
}

.course h2 {
    height: 50px;
    background-color: skyblue;
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
}

.course .bd {
    padding: 0 20px;
}

.course .bd ul li a {
    display: block;
    color: #4e4e4e;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0;
    border-bottom: 1px solid #a5a5a5;
}

.course .bd ul li a span {
    color: #a5a5a5;
    font-size: 12px;
}

.course .all-course {
    display: block;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #00a4ff;
    margin-top: 5px;
    color: #00a4ff;
    font-size: 16px;
    font-weight: 700;
}

.recommend {
    height: 60px;
    background-color: #fff;
    margin-top: 12px;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, .3);
}

.recommend h3 {
    float: left;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 60px;
    color: #00a4ff;
    font-size: 16px;
}

.recommend ul li {
    float: left;
    line-height: 60px;
}

.recommend ul li a {
    border-left: 1px solid #a5a5a5;
    color: #333;
    padding: 0 30px;
}

.recommend .modify-interest {
    float: right;
    line-height: 60px;
    padding-right: 30px;
    color: #00a4ff;
    font-size: 12px;
}

/* box */
.box {
    /* 不能设置高度，因为实际情况不知道有多少列 */
    margin-top: 40px;
}

.box-hd {
    height: 50px;
    /* background-color: green; */
}

.box-hd h2 {
    float: left;
    font-size: 20px;
    color: #4e4e4e;
    line-height: 50px;
}

.box-hd a {
    float: right;
    line-height: 50px;
    color: #a5a5a5;
    font-size: 12px;
    padding-right: 30px;
}

.box-bd ul {
    width: 1225px;
}

.box-bd ul li {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 228px;
    height: 270px;
    background-color: #fff;
}

.box-bd img {
    width: 228px;
}

.box-bd .title {
    margin: 20px 15px 10px 15px;
    color: #333;
    font-size: 14px;
}

.box-bd .studying {
    margin-left: 15px;
    margin-top: 30px;
    font-size: 12px;
    color: #a5a5a5;
}

.box-bd .studying span {
    color: #ff7c2d;
}

.footer {
    height: 400px;
    background-color: green;
}