body {
    /* 抗锯齿性，文字放大更加清晰 css3写法 */
    -webkit-font-smoothing: antialiased;
    font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.todo-box {
    width: 300px;
    height: 500px;
    background-color: yellowgreen;
    margin: 50px auto;
    padding: 10px;
    border: 2px solid #2a5d2f;
}

.area-in {
    width: 100%-10px;
    border: 2px solid #2a5d2f;
    padding: 5px;
}

.area-out {
    width: 100%-10px;
    border: 2px solid #2a5d2f;
    padding: 5px;
    margin: 10px auto;
}

li {
    color: rgb(106, 53, 53);
}